page-recharge {

}
.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: none;
}
.fab[mini] {
    margin: 8px;
    width: 27;
    height: 27;
    line-height: 40px;
}
[col-3] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    width: 20%;
    max-width: 20%;
    margin-left: 0px;
}
